@media (max-width: 768px) {
  .top-header, .yatri-mid-header, .bottom-header {
    .yatri-responsive-toggle-menu {
      display: inline-block;
    }
    .yatri-section-container {
      /*padding: 0;*/
      -ms-flex: 0 0 33.33%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.33%;
      -moz-box-flex: 0;
      flex: 0 0 33.33%;
      position: unset;
      .yatri-section-inner {
        &.yatri-section-menu, &.yatri-section-social-icons, &.yatri-section-office-information {
          display: none;
          text-align: left;
        }
        &.yatri-section-search-form {
          &.form-type-default .search-form-main {
            width: 300px;
            max-width: 300px;
          }
        }
      }
      &.social_icons-container, &.office_information-container, &.menu-container {
        .yatri-section-inner {
          display: none;
        }
      }
      &.social_icons-container {
        .yatri-section-wrap {
          display: inline-block;
        }
        .yatri-section-social-icons {
          position: absolute;
          background: $primary_color;
          width: 35px;
          z-index: 99;
          li {
            display: block;
            width: 100%;
            text-align: center;
            border-top: 1px solid #fff;
            color: #fff;
            span {
              color: #fff;
              font-size: 19px;
            }
          }
        }

      }
      &.office_information-container {
        .yatri-section-inner {
          background: $primary_color;
          position: absolute;
          z-index: 99;
          left: 0;
          right: 0;
          ul {
            padding: 10px;
            li {
              border-bottom: 1px solid #fff;
              display: block;
              margin-right: 0;
              span, a {
                color: #fff;
              }
              &:last-child {
              }
            }
          }
        }
        ul {
          li {
            &:last-child {
              border-bottom: 0;

            }
          }
        }

      }

      &.menu-container {
        .yatri-section-inner.yatri-section-menu {
          position: absolute;
          z-index: 999;
          right: 0;
          background: $primary_color;
          max-height: 400px;
          overflow-y: auto;
          width: 100vw;
          transform: translateX(-50%);
          left: 50%;
          ul {
            margin: 0;
            padding: 0;
          }
          li {
            &.menu-item-has-children {
              a {
                &:after {
                  content: "";

                }
              }
              .yatri-submenu-toggle {
                height: 25px;
                width: 25px;
                background: #fff;
                text-align: center;
                line-height: 25px;
                color: #000;
                display: block;
                position: absolute;
                top: 6px;
                right: 10px;
                cursor: pointer;
                font-size: 15px;
              }
            }
            &:last-child {
              border-bottom: 0;
            }
            &:after {
              content: "";
            }
          }

        }
        li {
          margin: 0;
          padding: 0;
          border: none;
          display: block;
          a {
            color: #fff;
            display: block;
            border: 1px solid #ddd;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0;
            line-height: inherit;
            border-top: 0;
            font-weight: inherit;
          }
        }
        ul.sub-menu {
          display: none;
          opacity: 1;
          position: unset;
          width: 100%;
          margin: 0;
          border: 0;
          background: initial;
          visibility: visible;

          li {
            display: block;
            a {
              padding-left: 45px;
              &:before {
                content: "ï„…";
                margin-left: -10px;
                position: absolute;
                font-family: Font Awesome 5 Free;

              }
            }
            ul.sub-menu {
              li {
                a {
                  padding-left: 70px;
                }
                ul.sub-menu {
                  li {
                    a {
                      padding-left: 95px;
                    }
                    ul.sub-menu {
                      li {
                        a {
                          padding-left: 120px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .top-header {
    .yatri-responsive-toggle-menu {
      padding: 3px 10px;
    }
  }
  .bottom-footer {
    padding: 15px 0;
  }
}